body{
    background-color: rgb(104, 98, 98);
    font-family: 'Open Sans', sans-serif;
}
.main{
    width: 1000px;
    margin: 10px auto 5px auto;
    height: 970px;
    background-color: #fff;
}
.main h1{
    position: absolute;
    left: 15em;
    top:1em;
    
}
.main img{
    float: left;
    width:200px;
    height: 125px;
    
    

}